#frame {
  display: grid;
  grid-template-areas:
    "header header"
    "pane main";
  grid-template-columns: var(--Layout-pane-width) 1fr;
  grid-template-rows: 64px calc(100vh - 64px);
  gap: 0px;
  background-color: var(--bgColor-inset);
}

#frame > aside {
  grid-area: pane;
  background-color: var(--bgColor-default);
  border-right: 1px solid var(--borderColor-default);
}

[data-color-mode="dark"][data-dark-theme="dark"],
[data-color-mode="dark"][data-dark-theme="dark"] ::backdrop,
[data-color-mode="auto"][data-light-theme="dark"],
[data-color-mode="auto"][data-light-theme="dark"] ::backdrop {
  --frame-main-bgColor: var(--bgColor-inset);
}

[data-color-mode="light"][data-light-theme="light"],
[data-color-mode="light"][data-light-theme="light"] ::backdrop,
[data-color-mode="auto"][data-light-theme="light"],
[data-color-mode="auto"][data-light-theme="light"] ::backdrop {
  --frame-main-bgColor: var(--bgColor-default);
  --header-fgColor-default: var(--fgColor-default);
}

#frame > main {
  grid-area: main;
  background-color: var(--frame-main-bgColor);
}

#frame > header {
  grid-area: header;
  background-color: var(--bgColor-inset);
  border-bottom: 1px solid var(--borderColor-default);
}
